img {
    width: 100%;
}

#wild {
    position: absolute;
    top: 5%;
    left: 10%;
}

#rescue {
    position: absolute;
    top: 75%;
    left: 10%;
}

#header h1 {
    
    font-style: normal;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   
}

#header h3 {
    font-size: 1.5em;
}

nav {
    background-color: black;
    padding: 1em;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    padding: 2em;
}

main {
    background-color: bisque;
    padding: 0.5em;
}

footer {
    text-align: center;
    color:blue;
}