header {
    color: #1640D6;
    font-style: italic;
    text-align: center;
}

#nav {
    background-color: #001B79;
    width: 100%;
    text-align: center;
    padding: 0.5em;
}

#nav a {
    color: aliceblue;
    font-size: 0.9em;
    padding: 2em;
    font-style: italic;
    text-decoration: none;
} 

#hero_image {
    max-width: 100%;
}

#main {
    background-color: #E5D4FF;
    padding: 0.5em;
}

#main p {
    text-align: center;
}

#footer {
    text-align: center;
    color: #1640D6;
    font-size: 0.9em;
}

#footer a {
    text-decoration: none;
}