header {
    color: #1640D6;
    font-style: italic;
    text-align: center;
}

#nav {
    background-color: #1640D6;
    width: 100%;
    text-align: center;
}

#nav a {
    color: aliceblue;
    font-size: 0.9em;
    padding: 2em;
    
} 